<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Product.SignKey" value="jB6-pN-5"/>
    <add key="Product.ClientDesDeKey" value="j6=9=1ac"/>
    <!--<add key="Game.Http.Host" value="10.99.209.98" />-->
    <add key="Game.Http.Host" value="10.71.9.180" />
    <add key="Game.Http.Port" value="80" />
    <add key="Game.Http.Name" value ="default.ashx"/>
    <add key="Redis.Host" value="10.99.209.153"/>
    <add key="Redis.Db" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="SnsCenter" providerName="MySqlDataProvider" connectionString="Data Source=10.99.214.101;Database=SnsCenter;Uid=root;Pwd=qweasd!" />
  </connectionStrings>
</configuration>
