<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Game info setting-->
    <add key="Script_IsDebug" value="True"/>
    <add key="CSharpRootPath" value="Case" />
    <add key="Request.Timeout" value="1000" />
    <add key="CaseStep.Type.Format" value="ZyGames.Test.App.Case.Step{0}" />
    <add key="CaseStep.Script.Format" value="Case.Step{0}.cs" />
    <add key="Test.SignKey" value="jB6-pN-5" />
    <add key="Test.EncodePwdKey" value="j6=9=1ac" />
    <!--<add key="Test.Url" value="http://10.99.209.224:8082/Service.aspx" />-->
    <!--<add key="Test.Url" value="http://10.99.209.57:8082/Service.aspx" />-->
    <add key="Test.Url" value="http://10.71.16.131:8082/Service.aspx" />
    
    <add key="Test.GameId" value="1" />
    <add key="Test.ServerId" value="1" />
    <!--Test setting
        Test.Steps:
        Test.Pid:Z60000-Z66000        
        60000->Test.Uid=1426395
        60500->Test.Uid=1426895
        61000->Test.Uid=1427395
        61500->Test.Uid=1427895
        62000->Test.Uid=1428395
    -->
    <add key="Test.ThreadNum" value="1" />
    <add key="Test.Runtimes" value="1" />
    <add key="Test.Pid" value="1" />
    <!--
        <add key="Test.Uid" value="1426395" /> 
        <add key="Test.UserPwd" value="1234567" /> 
    -->
    <!--
    <add key="Test.Steps" value="1004,100=10"/>
    -->
    <!--<add key="Test.Steps" value="Login" />-->
    <add key="Test.Steps" value="Passport" />
    <add key="AccountServerUrl" value="http://10.99.209.98" />
    <!--<add key="AccountServerUrl" value="http://localhost:37287"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>